<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skills</title>
</head>
<body>
    <h1>Skills as of <%= time %> </h1>
    <ul>
        <% skills.forEach(function(s, idx) { %>
            <li>
                <a href="/skills/<%= idx %>"><%= s.skill %></a>
                <form action="/skills/<%= idx %>?_method=DELETE"
                    class="delete-form" method="POST">
                    <button type="submit">Delete Skill</button>
                </form>
            </li>
          <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
</body>
</html>